*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url("../image/index_배경화면.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100vw;
    height: 30vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Nav바 Home*/
.navbar_1{
    height: 30vh;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 5vh;
}

/*nav바 목록*/
.navbar_2{
    height: 30vh;
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.navbar_2_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 1.4rem;
}

#navbar_2_1{
    margin-top: 0.5rem;
    color: white;
    font-weight: 900;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.2); /* 반투명 블랙 */
    border-radius: 0.5rem;
    padding: 0.3rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    transform: translateY(-10px);
    cursor: pointer;
    cursor: url(../image/cursor_event.png), auto;
    transition: transform 0.2s ease;
}

/*navbar 이벤트처리*/
.navbar_2_1 img{
    width: 3.3rem;
    height: 3.3rem;
    object-fit: cover;
    cursor: pointer;
    cursor: url(../image/cursor_event.png), auto;
    transition: transform 0.2s ease;
}

/*내용*/
.intro{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.intro_1{
    overflow: hidden;
    color: white;
    font-size: 5rem;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-style: normal; /*글꼴 기울임 여부*/
    white-space: nowrap; /*자동 줄바꿈 방지*/
    animation:
    typing 2s steps(18, end) forwards;
}
@keyframes typing{
    from {width: 0}
    to {width:18ch}
}

.intro_2{
    color: white;
    font-family: "sans-serif", cursive;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2); /* 반투명 블랙 */
    border-radius: 0.5rem;
    padding: 1rem;
}
